<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Precrastinator</title>

    <!-- Font Awesome v5 -->
	<script src="https://kit.fontawesome.com/cd1bf23aec.js" crossorigin="anonymous"></script>

    <!-- external CSS link -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

 <!--Top Navigation Menu-->
 <header class="container" id="header">
    <nav>
        <h1> <i class="fas fa-stopwatch"></i> Precrastinator</h1>
        <div>
            <a href="/login"> Login</a>
            <a href="/signup"> Sign up</a>
        </div>
    </nav>

    <hr>

    <img class="thinker" src="https://imgs.search.brave.com/AJggRhP2GC4zvsBqBpCYlBTOg1qNI1-utrOuOX3nYsM/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9pbWcu/cG5naW8uY29tL3Ro/ZS10aGlua2VyLXBu/Zy05My1pbWFnZXMt/aW4tY29sbGVjdGlv/bi1wYWdlLTItdGhl/LXRoaW5rZXItcG5n/LTE3NzBfMjMyOC5w/bmc" alt="thinker" width="350px" height="500px">
    <h1>Stop procrastination with our Procrastinator</h1>

</header>

    <section>
        <div>
            <h1>A simple tool to help you finish all those things you're ignoring</h1>
        </div>
        <div>
            <h2>So what's a Procrastinator?</h2>
            <p>Etc. etc.</p>
        </div>

    </section>



</body>
</html>