<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Meta Description -->
    <meta name="description" content="Maximize your time management and complete your daily tasks with ease using our pomodoro method.">
    <meta name="keywords" content="study, pomodoro, focus, students, time management, efficient, efficiency, 100devs">

    <!-- Meta Title -->
    <title>Precrastinator &#8212; Need to Focus? Top Productivity Booster</title>
    
    <!-- Font Awesome v5 -->
	<script src="https://kit.fontawesome.com/cd1bf23aec.js" crossorigin="anonymous"></script>

    <!-- external CSS link -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

 <!--Top Navigation Menu-->
 <header id="indexHeader">
    <nav>
        <h1> <i class="fas fa-stopwatch"></i> Precrastinator</h1>
        <div>
            <a href="/login"> Login</a>
            <a href="/signup"> Sign up</a>
        </div>
    </nav>

    <hr>

    <div class="indexImage">
        <img class="thinker" src="https://imgs.search.brave.com/AJggRhP2GC4zvsBqBpCYlBTOg1qNI1-utrOuOX3nYsM/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9pbWcu/cG5naW8uY29tL3Ro/ZS10aGlua2VyLXBu/Zy05My1pbWFnZXMt/aW4tY29sbGVjdGlv/bi1wYWdlLTItdGhl/LXRoaW5rZXItcG5n/LTE3NzBfMjMyOC5w/bmc" alt="thinker" width="350px" height="500px">
        <h1 class="heroTitle">Got some things you're putting off?</h1>
        <h1 class="heroTitle">Get them done with our Precrastinator.</h1>
    </div>

</header>

<section id="readMe">
    <div class="readMeContainer">
        <div>
            <h1 class="bigTitle">A simple tool to help you finish all those things you're ignoring</h1>
        </div>
        <br>
        <div>
            <h2 class="smallerTitle">So What's a Precrastinator?</h2>
            <p class="lightBlack">Precrastinator was created to aid those who need help with their time  
                management. It is designed to maximize efficiency in your work flow and to help you quickly achieve your goals
                witin an easy-to-use to-do task list. It rewards your focused sessions with intended 
                relaxation.</p>
        </div>
    
        <div class="lightBlack">
            <h2 class="smallerTitle">How Does the Pomodoro Technique work?</h2>
            <p>This technique is a time management method that will help you hyperfocus on tasks by
                working at predetermined intervals followed by brief moments of rest. It's akin to running a 
                marathon rather than a 100-meter dash. You chip away at your tasks one by one until you're
                all done. Always remember: you don't have to do all of it as long as you did some of it.</p>
        </div>
    
        <div class="lightBlack">
            <h2 class="smallerTitle">How to Use the Pomodoro Technique</h2>
            <ol class="numerList">
                <li>Decide on the task to be done.</li>
                <li>Set the pomodoro timer (typically for 25 minutes).</li>
                <li>Work on the task</li>
                <li>If you have finished fewer than three pomodoros, go back to Step 2 and repeat until you go through all three pomodoros.</li>
                <li>After three pomodoros are done, take the fourth pomodoro and then take a long break (typically 20 to 30 minutes). Once the long break is finished, return to step</li>
            </ol>
        </div>
    
        <div class="lightBlack">
            <h2 class="smallerTitle">Features</h2>
            <ul>
                <li><b class="darkOrange">Sleek responsive design</b> that works with any monitor size and on all mobile devices.</li>
                <li><b class="darkOrange">Helpful color transitions</b> to indicate when to rest and when to work.</li>
                <li><b class="darkOrange">Subtle audio prompts</b> to notify the end of a study or rest session.</li>
                <li><b class="darkOrange">Account creation</b> to enable permanent task lists.</li>
            </ul>
        </div>
    
        <div class="lightBlack">
            <h2 class="smallerTitle">Check out our repo</h2>
            <ul>
                <li><a href="https://github.com/diathekez/precrastinator">On Github</a></li>
            </ul>
        </div>
    </div>


</section>

<footer id="footer">
    <div class="social-icons-2">
        <span class="hidden">Follow 100Devs:</span>
        <a href="https://www.twitch.tv/learnwithleon" target="_blank">
            <i class="fab fa-twitch"> <span class="hidden">Twitch</span> </i>
        </a>
        <a href="https://twitter.com/leonnoel" target="_blank">
            <i class="fab fa-twitter"> <span class="hidden">Twitter</span> </i>
        </a>
        <a href="https://github.com/100devs" target="_blank">
            <i class="fab fa-github"> <span class="hidden">Github</span></i>
        </a>
        <a href="https://www.linkedin.com/company/100devs/mycompany/" target="_blank">
            <i class="fab fa-linkedin"> <span class="hidden">LinkedIn</span> </i>
        </a>
    </div>
    <hr>
    <h4>Designed and built with <span>&hearts;</span> by:</h4>
    <div>
        <span><a href="https://github.com/hodinsay">Din, </a></span>
        <span><a href="https://github.com/Pablodelao"> Pablo, </a></span>
        <span><a href="https://github.com/diathekez"> Bryan, </a></span>
        <span><a href="https://github.com/VellumMoon"> Jesseca. </a></span>
    </div>
    <br>
    <p>© Precrastinator 2022. All Rights Reserved.</p>
</footer>

</body>
</html>