<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Meta Description -->
    <meta name="description" content="Maximize your time management and complete your daily tasks with ease using our pomodoro method.">
    <meta name="keywords" content="study, pomodoro, focus, students, time management, efficient, efficiency, 100devs">

    <!-- Meta Title -->
    <title>Precrastinator &#8212; Need to Focus? Top Productivity Booster</title>
    
    <!-- Font Awesome v5 -->
	<script src="https://kit.fontawesome.com/cd1bf23aec.js" crossorigin="anonymous"></script>

    <!-- external CSS link -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

 <!--Top Navigation Menu-->
 <header id="indexHeader">
    <nav>
        <h1> <i class="fas fa-stopwatch"></i> Precrastinator</h1>
        <div>
            <a href="/login"> Login</a>
            <a href="/signup"> Sign up</a>
        </div>
    </nav>

    <hr>

    <div class="indexImage">
        <img class="thinker" src="https://imgs.search.brave.com/AJggRhP2GC4zvsBqBpCYlBTOg1qNI1-utrOuOX3nYsM/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9pbWcu/cG5naW8uY29tL3Ro/ZS10aGlua2VyLXBu/Zy05My1pbWFnZXMt/aW4tY29sbGVjdGlv/bi1wYWdlLTItdGhl/LXRoaW5rZXItcG5n/LTE3NzBfMjMyOC5w/bmc" alt="thinker" width="350px" height="500px">
        <h1>Create your very own Todolist!</h1>
    </div>

</header>

<section>
    <div>
        <h1>A simple tool to help you finish all those things you're ignoring</h1>
    </div>
    <div>
        <h2>So what's a Procrastinator?</h2>
        <p>Etc. etc.</p>
    </div>

    <div>
        <h2>How does the Pomodoro Technique work?</h2>
        <p>Etc. etc.</p>
    </div>

    <div>
        <h2>How to Use the Pomodoro Technique</h2>
        <ol>
            <li>
                Decide on the task to be done.
Set the pomodoro timer (typically for 25 minutes).[1]
Work on the task.
End work when the timer rings and take a short break (typically 5–10 minutes).[5]
If you have finished fewer than three pomodoros, go back to Step 2 and repeat until you go through all three pomodoros.
After three pomodoros are done, take the fourth pomodoro and then take a long break (typically 20 to 30 minutes). Once the long break is finished, return to step 2.
            </li>
        </ul>
    </div>

    <div>
        <h2>Features</h2>
        <ul>
            <li>s</li>
        </ul>
    </div>

    <div>
        <h2>Check out our repo</h2>
        <p>On Github</p>
    </div>

</section>

<footer id="footer">
    <div class="social-icons-2">
        <span class="hidden">Follow 100Devs:</span>
        <a href="https://www.twitch.tv/learnwithleon" target="_blank">
            <i class="fab fa-twitch"> <span class="hidden">Twitch</span> </i>
        </a>
        <a href="https://twitter.com/leonnoel" target="_blank">
            <i class="fab fa-twitter"> <span class="hidden">Twitter</span> </i>
        </a>
        <a href="https://github.com/100devs" target="_blank">
            <i class="fab fa-github"> <span class="hidden">Github</span></i>
        </a>
        <a href="https://www.linkedin.com/company/100devs/mycompany/" target="_blank">
            <i class="fab fa-linkedin"> <span class="hidden">LinkedIn</span> </i>
        </a>
    </div>
    <hr>
    <h4>Designed and built with love by:</h4>
    <div>
        <span>Name, </span>
        <span>Name, </span>
        <span><a href="https://github.com/diathekez">Bryan, </a></span>
        <span><a href="https://github.com/VellumMoon">Jesseca. </a></span>
    </div>
    <br>
    <p>©Precrastinator 2022. All Rights Reserved.</p>
</footer>

</body>
</html>