<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Precrastination</title>

    <!-- Font Awesome v5 -->
	<script src="https://kit.fontawesome.com/cd1bf23aec.js" crossorigin="anonymous"></script>

    <!-- external CSS link -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    
    <!-- Header -->

    <header class="container" id="header">
        <nav>
            <h1> <i class="fas fa-stopwatch"></i> Precrastination</h1>
            <a href="/logout"> <i class="far fa-user-circle"></i> Logout</a>
        </nav>
        <hr>

        <div class="pomoContents">
            <div class="pomoContainer">
                <div class="pomoButtons">
                    <!-- Add mainEventListener JS function to change background color -->
                    <a href="#">Precrastinate</a>
                    <a href="#">Short Break</a>
                    <a href="#">Long Break</a>
                </div>

                <h1 id="timer">25:00</h1>
                <!-- Add mainEventListener JS function to start timer count down-->
                <div class="startBtn">
                    <a href="#">START</a>
                </div>

            </div>
        </div>


        <!-- <form action="/todos/createTodo" method='POST'>
            <label for="todoItem" class="label">Tasks:   </label>
            <input type="text" placeholder="Enter task here" name='todoItem' class="inputText">
            <input type="submit" class="addButton">
        </form> -->
            
       <!-- <form >
            <label for="todoItem" class="label">Tasks:   </label>
            <input type="text" placeholder="Enter task here" name='todoItem' class="inputText">
            <input type="submit" class="addButton">
        </form> -->
        <span id='work' >testtt</span> <br>
        <input type="text" class="inputText" >
        <a href="test"><button class="addButton" > fun</button></a>


        <hr class="shortLine">

        <div class="tasksContents">
            <div class="tasksContainer">
                <ol class="tasksList">
                
                </ol>
            </div>
        </div>    
        
     

        <section>
            <h1> Readme </h1>
        </section>

    </header>

    <!-- Section -->
    <script>
        //     Object.keys(localStorage).forEach(function(key){
        //         let lel = "kek"
        //         const idk =  document.createElement("div")
        //         idk.textContent =  Object.values(localStorage)
        //         document.body.append(idk)
        //     });
        // console.log(localStorage.length)
        
        
        //this displays the storage values on the dom
        
        // for (var i = 1; i < localStorage.length; i++){
        //    console.log(localStorage[i])
        // }
        
        //this displays the storage values on the dom
        // document.querySelector('#work').innerHTML = Object.values(localStorage)
        console.log(Object.values(localStorage).length)
        
        
        for (let index = 0; index < Object.values(localStorage).length; index++) {
            console.log(Object.values(localStorage)[index])
        
                const idk =  document.createElement("li")
                const text = document.createTextNode(`${Object.values(localStorage)[index]}`)
                const  belement = document.querySelector('.tasksList')

                belement.appendChild(idk)
                idk.className = 'not'
                idk.appendChild(text)
               
               

        //         idk.textContent =  Object.values(localStorage)
        //         document.body.append(idk)
        
            
        }
        
        
        
        
                   document.querySelector(".addButton").addEventListener('click', myFunction)
        
                 function myFunction() {
                    //storage num is the localstorage key it will always be +1 of the current local storage length
                    let storagenum = Object.keys(localStorage).length + 1
                    localStorage.setItem( storagenum, document.querySelector(".inputText").value)
        
                    }


                    const todoItem2 = document.querySelectorAll('li')

                    Array.from(todoItem2).forEach((el)=>{
    el.addEventListener('click', markCompleteornincomplete)
})
                    // document.querySelectorAll("ol li").addEventListener('click', completed)

                    function markCompleteornincomplete(){

                    if(this.classList.contains('not')){
                        
                        this.classList.remove("not")
                        this.classList.add('completed')
                    
                        console.log('haha1')
                    }else {
                    this.classList.remove("completed")
                    this.classList.add('not')
                        console.log('haha2')
                    }
                        
                    }
        
                    
                </script>

    <!-- Footer -->
    

    <footer id="footer">
        <div class="social-icons-2">
			<span class="hidden">Follow us:</span>
			<a href="https://www.instagram.com/" target="_blank">
				<i class="fab fa-instagram"> <span class="hidden">Instagram</span> </i>
			</a>
			<a href="https://twitter.com/" target="_blank">
				<i class="fab fa-twitter"> <span class="hidden">Twitter</span> </i>
			</a>
			<a href="https://www.linkedin.com/in/" target="_blank">
				<i class="fab fa-github"> <span class="hidden">Github</span></i>
			</a>
			<a href="https://github.com/" target="_blank">
				<i class="fab fa-linkedin"> <span class="hidden">Linkedin</span> </i>
			</a>
		</div>
        <hr>
        <h3>Designed and Built by 100Devs Team</h3>
    </footer>


    <script src="js/main.js"></script>
</body>
</html>