/******************************************
/* BASE STYLES
/*******************************************/

/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

/* Box Model Hack */
* {
     box-sizing: border-box;
     margin: 0;
     /* padding: 0; */
     font-family: 'Comfortaa', sans-serif;
}

/******************************************
/* LAYOUT (todos.ejs)
/*******************************************/

/* header */

#header{
    width: 100%;
    min-height: 100vh;
    text-align: center;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%); 
    padding-bottom: 50px;     
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 15px;
}

nav h1{
    color: #fff;
    font-weight: 600;
}

nav a{
    text-decoration: none;
    color: #000;
    padding: 10px 10px;
    border-radius: 5px;
    background: #fde7b0;
    cursor: pointer;
    transition: all 0.3s;
}

nav a:hover{
    color: #fff;
    background: #FBAB7E;
}

hr{
    height: 2px;
    margin: 15px auto;
    width: 60%;
}

.pomoContents{
    width: 100%;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pomoContainer{
    background: #fde7b0;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 15px 0;
    width: 60%;
}

.pomoButtons{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.pomoButtons a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.pomoButtons a:hover{
    background: #FBAB7E;
    color: #fff;
}

.pomoContainer h1{
    font-size: 100px;
    margin: 15px auto;
}

.pomoContainer .startBtn{
    padding: 25px 0;
}

.pomoContainer .startBtn a{
    text-decoration: none;
    color: #000;
    font-size: 30px;
    padding: 15px 20px;
    border-radius: 5px;
    transition: all 0.3s;
}

.pomoContainer .startBtn a:hover{
    background: #FBAB7E;
    color: #fff;
}

.label{
    color: #fff;
    font-size: 25px;
    font-weight: 400;
}

.inputText{
    padding: 10px 40px 10px 10px;
    border-radius: 5px;
    border: 0;
}

.addButton{
    color: #000;
    padding: 10px 10px;
    border-radius: 5px;
    background: #fde7b0;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.addButton:hover{
    color: #fff;
    background: #FBAB7E;
}

.shortLine{
    height: 2px;
    margin: 15px auto;
    width: 25%;
}

.tasksContents{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tasksContainer{
    padding: 20px 20px;
    width: 25%;
    margin-left: 3%;             
}

.tasksList{
    cursor: pointer;
    margin-bottom: 15px;
    text-align: left;
    font-size: 20px;
}

.todoItem{
    margin-bottom: 15px;
    transition: 0.5s;
}

.completed{
    text-decoration: line-through;
    color: gray;
}

.del:hover{
    color: #fff;
}

/* Footer */

#footer{
    width: 100%;
    padding: 50px 0;
    background: #333;
    color: #fff;
    text-align: center;
}

.social-icons-2 a{
    text-decoration: none;
    color: white;
    margin: 0 25px;
}

.social-icons-2 a:hover{
    color: #F7CE68 ;
}

#footer div span a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

#footer h4 span{
    color: red;
}

/******************************************
/* LAYOUT (index.ejs)
/*******************************************/

#indexHeader{
    width: 100%;
    min-height: 100vh;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%); 
}

.indexContainer{
    text-align: center;
    padding: 20px 20px;
}

.indexContainer h1{
    color: #fff;
    font-size: 60px;
}

.indexContainer p{
    font-size: 20px;
    margin: 20px auto;
}

.indexContainer a{
    text-decoration: none;
    color: #333;
    padding: 10px 10px;
    margin-right: 20px;
    border-radius: 5px;
    background: #fde7b0;
    cursor: pointer;
    transition: all 0.3s;
}

.indexContainer a:hover{
    color: #fff;
    background: #FBAB7E;
}

.indexImage{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

img{
    margin: 20px auto;
}

.indexImage h1{
    margin: 10px auto;
}

#readMe{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

.readMeContainer{
    width: 35%;
    padding-top: 40px;
}

.readMeContainer > h1, h2, p, li{
    margin-bottom: 15px;
}

/* ******************************************
LAYOUT (login.ejs)
****************************************** */

#login{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%); 
}

.loginContainer{
    padding: 30px;
}

.titles{
    text-align: center;
}

.titles h1{
    color: #fff;
    font-size: 40px;
}

.titles h3{
    color: #000;
    margin: 25px auto;
}

.titles p{
    margin-bottom: 25px;
}

.loginContainer form{
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 30px 15px 20px 15px;
}

.loginContainer form label{
    color: #000;
    margin-bottom: 15px;
}

.loginContainer form input{
    margin-bottom: 15px;
    height: 30px;
    padding-left: 5px;
}

.loginContainer form .loginBtn{
    color: #fff;
    background: #333;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.loginContainer form .loginBtn:hover{
    background: #000;
}

.register{
    text-align: center;
}

.register h4{
    color: #000;
    margin: 15px auto;
}

.register a{
    color: #fff;
    font-weight: 400;
}

/* ******************************************
LAYOUT (signup.ejs)
****************************************** */

#signupPage{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.signupContainer{
    padding: 30px;
}

.signupTitles{
    text-align: center;
}

.signupTitles h1{
    color: #fff;
    font-size: 40px;
}

.signupTitles h3{
    color: #000;
    margin: 25px auto;
}

.signupTitles p{
    margin-bottom: 25px;
}

.signupContainer form{
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 30px 15px 20px 15px;
}

.signupContainer form label{
    color: #000;
    margin-bottom: 15px;
}

.signupContainer form input{
    margin-bottom: 15px;
    height: 30px;
    padding-left: 5px;
}

.signupContainer form .signupBtn{
    color: #fff;
    background: #333;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.signupContainer form .signupBtn:hover{
    background: #000;
}

.loginDirect{
    text-align: center;
}

.loginDirect h4{
    color: #000;
    margin: 15px auto;
}

.loginDirect a{
    color: #fff;
    font-weight: 400;
}

.bigTitle {
    font-size: 50px;
    color: #fbab7e;
}

.smallerTitle {
    color: #f9c071;
}

.lightBlack {
    color: #333;
}

.lightBlack a{
    color: #333;
}

.darkOrange {
    color: #fbab7e;
}

.heroTitle {
    font-size: 50px;
    color: #ffffff;
}

/* ******************************************
ADDITIONAL STYLING 
****************************************** */

@media only screen and (max-width: 850px){

    /* index.ejs */

    hr{
        width: 80%;
    }

    .indexImage h1{
        font-size: 30px;
        text-align: center;
    }

    /* todo.ejs */
    
    /* footer */

    .hidden{
        display: none;
   }
}

/* ==========================================================================
   #POMODORO APP STYLES
   ========================================================================== */

/**
 *
 * Inheriting box sizing slightly better best-practice
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 *
 */

 html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  :root {
    --pomodoro: hsl(223, 25%, 40%);
    --shortBreak: hsl(48, 23%, 40%);
    --longBreak: hsl(105, 16%, 40%);
  }
  
  body {
    background-color: #fff;
    transition: background-color 1s ease;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    user-select: none;
  }
  
  progress {
    border-radius: 2px;
    width: 100%;
    height: 12px;
    position: fixed;
    top: 0;
  }
  
  progress::-webkit-progress-bar {
   background-color: rgba(0, 0, 0, 0.1);;
  }
  
  progress::-webkit-progress-value {
    background-color: #fff;
  }
  
  .timer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
  }
  
  .clock {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 15rem;
    line-height: 1;
    display: flex;
    align-items: center;
    font-family: arial, sans-serif;
  }
  
  .mode-button {
    font-size: 16px;
    height: 28px;
    cursor: pointer;
    box-shadow: none;
    font-weight: 300;
    color: #fff;
    border: 1px solid transparent;
    margin: 0px;
    border-radius: 4px;
    padding: 2px 12px;
    background: none;
  }
  
  .mode-button.active {
    border-color: #fff;
  }
  
  .main-button {
    cursor: pointer;
    box-shadow: rgb(235, 235, 235) 0px 6px 0px;
    font-size: 22px;
    height: 55px;
    text-transform: uppercase;
    color: hsl(175, 26%, 41%);
    font-weight: bold;
    width: 200px;
    background-color: white;
    border-width: initial;
    border-style: none;
    margin: 20px 0px 0px;
    padding: 0px 12px;
    border-radius: 4px;
    transition: color 0.5s ease-in-out 0s;
  }
  
  button:focus, button:active {
    outline: none;
  }
  
  .main-button.active {
    transform: translateY(6px);
    box-shadow: none;
    outline: none;
  }
  
  .hidden {
    display: none;
  }

.trashBtn{
    background: none;
    width: 20px;
    height: 20px;
    border: none;
    font-size: 18px;
    margin-left: 10px;
}

  
  @media screen and (max-width: 550px) {
    .clock {
      font-size: 8rem;
    }
  }